@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Bebas Neue';
    src: url('Fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  


/* Body Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: #000000;
    color: #333;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
}

/* Header Styling */
header {
    background: linear-gradient(to right,rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), 
                url('picture/IMG_9882.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    letter-spacing: 5px;
    color: #fff;
    font-family: 'Bebas Neue'; 
    font-size: 4rem;
    text-align: center;
    padding: 1rem 0;
    margin-top: 10%;
    position: relative;
    padding-right: 50%;
    padding-left: 5%;
    margin-top: 20px;
    top:40px
}

/* Paragraph Styling (p1) */
p1 {
    letter-spacing: 0px;
    color: #fff;
    padding: 1rem 0;
    font-family: 'Inter';
    font-size: 20px;
    text-align: center;
    position: relative;
    top: -100px;
    margin-top: 20px;
}

button {
    position: relative;
    font-family: 'Bebas Neue';  
    top: -120px;
    text-align: center;
    font-size: 32px;
    border-radius: 13px;
    background-color: #FED053;
    padding: 8px 32px;
    margin-top: 20px;
}

button:active {
    text-decoration: underline;
}
button:hover {
    cursor: pointer;
}

/* Default nav styles */
nav {
    background-color: #000;
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    padding: 10px;
    position: fixed; /* Make the nav fixed so it stays at the top */
    right: 0; /* Align to the right of the screen */
    top: 0; /* Position it at the top of the screen */
    width: 100%; /* Ensure the nav bar spans the entire width */
    z-index: 10;
}

.nav-icon {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between icon and text */
    justify-content: flex-start;
    flex-grow: 1;
    padding-left: 2%;
}

/* Icon style */
.nav-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Makes the icon circular */
}

/* Name style */
.nav-icon span {
    font-size: 16px;
    font-family: 'Outfit';
    font-weight: bold;
    color: #fff; /* Dark text color */
}

nav ul {
    list-style: none;
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    display: flex;
    justify-content: flex-end; /* Align items to the right */
}

nav ul li {
    display: inline-block;
    padding: 15px 20px;
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Ubuntu';
    font-size: 16px;
    line-height: 20px;
}

nav ul li a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.hamburger {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: -10px; /* Moves hamburger icon to the top */
    right: 20px; 
    z-index: 11; 
    margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav {
        /*background-color: #000;*/
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        position: fixed; /* Fix the nav to the top of the screen */
        top: 0; /* Ensure the nav stays at the top */
        right: 0;
        width: 100%; /* Ensure nav bar spans the entire width */
    }

    nav ul {
        display: none; /* Initially hide the menu */
        flex-direction: column;
        align-items: flex-end; /* Align items to the right */
        background: #000;
        position: absolute;
        top: 50px; /* Place the dropdown below the hamburger icon */
        right: 0;
        width: 200px;
        border: 1px solid #333;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        z-index: 10;
    }

    nav ul.show {
        display: flex; /* Show the menu when toggled */
    }

    nav ul li {
        text-align: right;
        margin: 0;
        padding: 10px 15px;
        width: 100%;
    }

    nav ul li a {
        display: block;
        width: 100%;
    }

    .hamburger {
        display: block; /* Show hamburger on small screens */
        margin-top: 20px;
    }
}



/* Main Content */
main {
    padding: 1rem;
}

#Download {
    padding: 2rem;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: #000000;
    color: #333;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    margin-top: 50px;
}

header2 {

    letter-spacing: 5px;
    color: #fff;
    font-family: 'Bebas Neue'; 
    font-size: 4rem;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    padding-left: 50%;
    padding-right: 5%;
    margin-top: 20px;
    top: -120px;
}

p2 {
    letter-spacing: 0px;
    color: #fff;
    padding: 1rem 0;
    font-family: 'Inter';
    font-size: 20px;
    text-align: center;
    position: relative;
    top: -100px;
    margin-top: 20px;
}

.das{
    background: linear-gradient(to right,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), 
                url('picture/download\ on\ app\ store.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 100px;
    border: 2px solid rgba(0, 0, 0, 0);
}
.dps{
    background: linear-gradient(to right,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), 
                url('picture/download\ on\ google\ play.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 100px;
    border: 2px solid rgba(0, 0, 0, 0);
}
.hts {
    letter-spacing: 0px;
    color: #b4b4b4;
    padding: 1rem 0;
    font-family: 'Inter';
    font-size: 16px;
    text-align: center;
    position: relative;
    top: -200px;
    margin-top: 20px;
    
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}
.hts:active{
    text-decoration: underline;
}
.hts:hover{
    text-decoration: underline;

}

#Guide {
    padding: 2rem;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: #E0DDD2;
    color: #333;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    margin-top: 20px;
}
header3 {

    letter-spacing: 5px;
    color: #050316;
    font-family: 'Bebas Neue'; 
    font-size: 4rem;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    padding-left: 5%;
    padding-right: 50%;
    margin-top: 20px;
    top: -120px;
}

p3 {
    letter-spacing: 0px;
    color: #050316;
    padding: 1rem 0;
    font-family: 'Inter';
    font-size: 20px;
    text-align: center;
    position: relative;
    top: -100px;
    margin-top: 20px;
}
video {
    padding-right: 50%;
    padding-left: 10%;
}
.reg{
    position: relative;
    font-family: 'Bebas Neue';  
    top: -20px;
    text-align: center;
    font-size: 32px;
    border-radius: 13px;
    background-color: #050316;
    padding: 8px 32px;
    margin-top: 20px;
    color: #fff;
}
.sr{
    position: relative;
    font-family: 'Bebas Neue';  
    top: -20px;
    text-align: center;
    font-size: 32px;
    border-radius: 13px;
    background-color: #050316;
    padding: 8px 32px;
    margin-top: 20px;
    color: #fff;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 30px;
    font-family: 'Bebas Neue', Arial, sans-serif;
}
